.todoitem{
    width: 100%;
    padding: 10px 6px;
    padding-bottom: 16px;
    display: flex;
    position: relative;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;

    &__checkbox{
        background-color: black;
        &:checked{
            color: black;
        }
    }
    
    &__created{
        font-size: 10px;
        position: absolute;
        bottom: 2px;
        left: 34px;
        color: gray;
    }

    &__delete{
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        right: 6px;
        cursor: pointer;
    }

    &-achieved{
        text-decoration: line-through;
    }
}